<form action="1/next" method="post">
  <div class="row center-align footer div-form-braillecell">
    <div class="col s6"><label><input type="checkbox" value ="b1" id="brailleCell1"/><span>B1</span></label></div>
    <div class="col s6"><label><input type="checkbox" value ="b2" id="brailleCell2"/><span>B2</span></label></div>
    <div class="col s6"><label><input type="checkbox" value ="b3" id="brailleCell3"/><span>B3</span></label></div>
    <div class="col s6"><label><input type="checkbox" value ="b4" id="brailleCell4"/><span>B4</span></label></div>
    <div class="col s6"><label><input type="checkbox" value ="b5" id="brailleCell5"/><span>B5</span></label></div>
    <div class="col s6"><label><input type="checkbox" value ="b6" id="brailleCell6"/><span>B6</span></label></div>
    <div class="col s12"><label><input type="submit" value ="EnterWeder" class="btn enter-braille-cell"/></label></div>
  <div>
</form>